$color: darkcyan;

$modal-width: 450px; // 弹窗宽度
$modal-height: 300px; // 弹窗高度
$modal-z-index: 1050; // 弹窗z-index
$border: #fe6c01;
$croci:#FD6802;//橘黄色
$light-red:#E74C3C;//浅红色
$light-text:#A8A8A8;
$high-text:#454545;
$white:#ffffff;
$light-bg:#FFF2E9;
$border-color:#CCCCCC;
$error-bg:#FFD9D9;
$error-text:#ff0000;