//- 为 IE9 追加 jquery.enplaceholder.js
//- http://www.ifrans.cn/jquery-enplaceholder-plug/
<!--[if lte IE 9]>
script(src='../scripts/vendor/jquery.enplaceholder.js')
script.
	$('input').placeholder({isUseSpan:true});
<![endif]-->
