extend partials/layout.pug

block title
  title 开始

block main
  ul
    li
      a(href="account-list.html") 开户列表-wap
    li
      a(href="check-card.html") 扣款卡验证-wap
    li
      a(href="check-more.html") 多渠道验证-wap
    li
      a(href="sign-list.html") 签约列表-wap
    li
      a(href="withdrawal-list.html") 提现协议列表-wap

